@using RunGroop.ViewModels
@using RunGroop.Data.Enum
@model EditRaceViewModel

<form method="post" asp-action="Edit" enctype="multipart/form-data">
    <!--
        <input type="hidden" value="AddressId" id="AddressId" />
    -->
    <div class="form-group">
        <label asp-for="Title">Race Title</label>
        <input asp-for="Title" class="form-control" placeholder="Enter club title">
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description">Race Desc</label>
        <input asp-for="Description" class="form-control" placeholder="Enter club Description">
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Image">Image path</label>
        <select asp-for="Image" asp-items="@Html.GetEnumSelectList<RaceCategory>()" class="form-control form-control-lg">
            <option>--Select--</option>
        </select>
        <span asp-validation-for="Image" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="StartTime">Race start time</label>
        <input asp-for="StartTime" class="form-control" placeholder="Enter start time">
        <span asp-validation-for="StartTime" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="EntryFee">Race entry fee</label>
        <input asp-for="EntryFee" class="form-control" placeholder="Enter race entry fee">
        <span asp-validation-for="EntryFee" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Website">Race website</label>
        <input asp-for="Website" class="form-control" placeholder="Enter race website">
        <span asp-validation-for="Website" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Twitter">Race Twitter</label>
        <input asp-for="Twitter" class="form-control" placeholder="Enter club Twitter">
        <span asp-validation-for="Twitter" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Facebook">Race Facebook</label>
        <input asp-for="Facebook" class="form-control" placeholder="Enter race facebook">
        <span asp-validation-for="Facebook" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Contact">Race Contact no</label>
        <input asp-for="Contact" class="form-control" placeholder="Enter race contact">
        <span asp-validation-for="Contact" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
